<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      ionic custom plugin
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">ionic custom plugin</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>ionic capatior custom plugin example</strong>
    <p>developed by <a target="_blank" rel="noopener noreferrer" href="https://www.devmonster.co.kr">devmonster</a></p>
    <div>
      <ion-button (click)="customCall()">custom call</ion-button>
    </div>
    <div>
      <ion-button (click)="customFunction()">custom function</ion-button>
    </div>
  </div>
</ion-content>
